# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
/build/app/generated/
/build/app/intermediates/
/build/app/kotlin/
/build/app/kotlinToolingMetadata/
/build/app/tmp/
/build/flutter_assets/
/build/native_assets/
/build/reports/
/build/web/
/build/windows/
/build/url_launcher_android/
/build/path_provider_android/
/buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

!build/app/outputs/flutter-apk/
/lib/keys.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
build/.last_build_id
.gitignore
build/app/outputs/apk/release/output-metadata.json
.gitignore
.gitignore
build/da5c3cab514f0eda2bd277c10a1eb8aa/gen_localizations.stamp
.gitignore
build/app/outputs/native-debug-symbols/release/native-debug-symbols.zip
build/app/outputs/sdk-dependencies/release/sdkDependencies.txt
.gitignore
build/da5c3cab514f0eda2bd277c10a1eb8aa/gen_dart_plugin_registrant.stamp
build/app/outputs/mapping/release/mapping.txt
.gitignore
build/app/outputs/apk/release/baselineProfiles/1/app-release.dm
.gitignore
.gitignore
build/app/outputs/apk/release/baselineProfiles/0/app-release.dm
build/app/outputs/apk/release/app-release.apk
.gitignore
build/app/outputs/logs/manifest-merger-release-report.txt
.gitignore
build/app/outputs/mapping/release/resources.txt
.gitignore
build/app/outputs/mapping/release/usage.txt
.gitignore
build/app/outputs/flutter-apk/app-release.apk.sha1
build/cache.dill.track.dill
build/app/outputs/mapping/release/configuration.txt
build/app/outputs/mapping/release/seeds.txt
build/da5c3cab514f0eda2bd277c10a1eb8aa/_composite.stamp
